<nav>
  <h1>BOLAHRAGA</h1>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'main:add_product' %}">Add Product</a></li>
  </ul>

  {% if user.is_authenticated %}
    <div>
      <span>Welcome, {{ name|default:user.username }}</span>
      <span>Last login: {{ user.last_login|date:"M j, H:i" }}</span>
      <span>{{ npm|default:"Waldan Rafid" }} - {{ class|default:"PBP F" }}</span>
      <a href="{% url 'main:logout' %}">Logout</a>
    </div>
  {% else %}
    <div>
      <a href="{% url 'main:login' %}">Login</a>
      <a href="{% url 'main:register' %}">Register</a>
    </div>
  {% endif %}
</nav>