{% extends 'base.html' %}
{% block content %}

<h1>Selamat Datang</h1>

<h5>Nama Toko: </h5>
<p>{{ namaToko }}</p>
<h5>Nama: </h5>
<p>{{ nama }}<p>
<h5>Kelas: </h5>
<p>{{ kelas }}</p>

<a href="{% url 'main:add_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

{% if not product_list %}
<p>Belum ada data produk.</p>
{% else %}

{% for product in product_list %}
<div>
  <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>

  <p><b>{{ product.get_category_display }}</b>

  {% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  <p>{{ product.description|truncatewords:25 }}...</p>

  <p><a href="{% url 'main:show_product' product.id %}"><button>Detail</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}

{% endblock content %}